<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="..public/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>URL Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(url=> { %>
                    <tr>
                        <td>
                            <%= url.fullUrl %>
                        </td>
                        <td><a href="<%= url.shortUrl %>" target="_blank">
                                <%= url.shortUrl %>
                            </a></td>
                        <td>
                            <%= url.clicks %>
                        </td>
                        <td>
                            <%= url.createdAt.toLocaleString() %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/">Back to Home</a>
    </div>
</body>

</html>